@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100&family=Raleway:wght@100&display=swap');

body {
  background-color: #3c6e71;
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  margin: 0 0 10px 0;
}

.header {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 18px;
  font-weight: bold;
  background-color: #294e50;
  color: #F2ECE4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px -5px 9px 0px black;
}

#logo {
  object-fit: contain;
  width: 50px;
  padding: 10px 0 0 20px;
}

.social {
  display: flex;
  padding: 10px 20px 0 0;
  gap: 10px;
}

.social img {
  width: 25px;
}

nav a {
  color: white;
  text-decoration: none;
}

header nav li {
  display: inline-block;
}

.links ul {
  display: flex;
  gap: 50px;
}

#intro {
  background-color: #3c6e71;
}

#intro .container {
  color: #edddd4;
  padding: 30px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

#intro h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
}

#intro img {
  width: 500px;
  border-radius: 50%;
}

#photos {
  background-color: #772e25;
  display: flex;
}

.photo-container {
  width: 100%;
  padding: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 30px #edddd4 solid;
  border-bottom: 30px #edddd4 solid;
}

.photo-container img {
  width: 180px;
  height: 180px;
  border-radius: 10%;
  border: 5px #edddd4 solid;
}

footer {
  background-color: #283d3b;
  color: white;
  text-align: center;
  padding: 10px 0 10px 0;
}

a:hover {
  opacity: 0.7;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}